mixin destinations()
    section.section_destinations
        .container
            .title_container
                h5.title--text The best destinations
            div
                form.section_destinations__form.col-sm-6
                    input.section_destinations__form--button.text_lg.text_sm(type='button', value='Regions')
                    input.section_destinations__form--button.text_lg.text_sm(type='button', value='Cities')
                    input.section_destinations__form--button.text_lg.text_sm(type='button', value='Places of interest')
            .section_destinations__content.row.section_md__content
                .section_destinations__photo--container.col_for_4_item.col-lg-3
                    img.photo_resort.photo_md(src='../src/assets/images/maldives.jpg', alt='maldives')
                    +photo_name('#', 'Maldives')(class="btn")
                    svg.button_book_now.text_sm.display_none
                        use(href='#button_book_now')
                .section_destinations__photo--container.col_for_4_item.col-lg-3
                    img.photo_resort.photo_md(src='../src/assets/images/spain.jpg', alt='spain')
                    +photo_name('#', 'Spain')(class="btn")
                    svg.button_book_now.text_sm.display_none
                        use(href='#button_book_now')
                .section_destinations__photo--container.col_for_4_item.col-lg-3
                    img.photo_resort.photo_md(src='../src/assets/images/norway.jpg', alt='norway')
                    +photo_name('#', 'Norway')(class="btn")
                    svg.button_book_now.text_sm.display_none
                        use(href='#button_book_now')
                .section_destinations__photo--container.col_for_4_item.col-lg-3
                    img.photo_resort.photo_md(src='../src/assets/images/island.jpg', alt='island')
                    +photo_name('#', 'Island')(class="btn")
                    svg.button_book_now.text_sm.display_none
                        use(href='#button_book_now')