mixin guestReviews()
    section.guests_reviews.block_body
        .container
            .title_container
                h5.title--text Guests reviews
            .guests_reviews__content.row

                .col.col-lg-4.background_blue
                    .guests_reviews__photo
                        img.guest--photo_resort(src='../src/assets/images/bali.jpg', alt='bali')
                        span.guests_reviews--cost.text_sm From 250 USD
                    .guests_reviews--info
                        .row
                            a.guest__photo_name.text_no_decor.text_sm(href='#') Ubud Bali Resort&SPA
                            span.resort_score.text_sm 9,4
                        .row
                            span.guests_reviews--resort_loco.text_sm Bali, Indonesia
                            span.resort_viewers 1324 reviews
                        .row_start
                            svg.guests_reviews--user_svg
                                use(href='#user_review')
                                .col.guest_name
                                    span.text_sm Hanna Ivanova
                                    span.text_sm ua Ukraine
                        p.text_sm.guests_reviews--text Great location, really pleasant and clean rooms, but the thing that makes this such a good place to stay are the staff. All of the people are incredibly helpful and generous with their time and advice.

                .col.col-lg-4.background_blue
                    .guests_reviews__photo
                        img.guest--photo_resort(src='../src/assets/images/rotterdam.jpg', alt='rotterdam')
                        span.guests_reviews--cost.text_sm From 40 USD
                    .guests_reviews--info
                        .row
                            a.guest__photo_name.text_no_decor.text_sm(href='#') King Kong Hostel
                            span.resort_score.text_sm 8,9
                        .row
                            span.guests_reviews--resort_loco.text_sm Rotterdam, Netherlands
                            span.resort_viewers 2016 reviews
                        .row_start
                            svg.guests_reviews--user_svg
                                use(href='#user_review')
                                .col.guest_name
                                    span.text_sm Adam Smith
                                    span.text_sm &#127482;&#127480; USA
                        p.text_sm.guests_reviews--text I've been in this hostel for a month and here is the best hostel of all Excellent management of excellent and ethical staff and bedrooms Bathrooms are always clean and excellent Most importantly, those who work here are kind and good-natured.

                .col.col-lg-4.background_blue
                    .guests_reviews__photo
                        img.guest--photo_resort(src='../src/assets/images/ourica.jpg', alt='ourica')
                        span.guests_reviews--cost.text_sm From 100 USD
                    .guests_reviews--info
                        .row
                            a.guest__photo_name.text_no_decor.text_sm(href='#') Rokoko Hotel
                            span.resort_score.text_sm 9,1
                        .row
                            span.guests_reviews--resort_loco.text_sm Ourika, Marocco
                            span.resort_viewers 815 reviews
                        .row_start
                            svg.guests_reviews--user_svg
                                use(href='#user_review')
                                .col.guest_name
                                    span.text_sm Anika Messer
                                    span.text_sm &#127465;&#127466; Germany
                        p.text_sm.guests_reviews--text Efficient, friendly, professional, and appropriately attentive. Great hotel in a great location. Easy access to all the surrounding historical sites. Staff is fantastic. Will definitely stay at this location during my next stay in Marocco.

