mixin offer()
    section.offer.block_body
        .container
            .offer_title.title_container
                h5.title--text What do we offer
            .offer__content.row.sectiom_md__content.col_sm
                .offer__svg_container.col.col-lg-3.col-md-3.col-sm-6
                    svg.offer__content--svg_icon
                        use(href="#head_set")
                    a.offer--link.text_no_decor.text_lg(href="#") Support 24/7
                .offer__svg_container.col.col-lg-3.col-md-3.col-sm-6
                    svg.offer__content--svg_icon
                        use(href="#chat")
                    a.offer--link.text_no_decor.text_lg(href="#") Communicate directly
                .offer__svg_container.col.col-lg-3.col-md-3.col-sm-6
                    svg.offer__content--svg_icon
                        use(href="#note_book")
                    a.offer--link.text_no_decor.text_lg(href="#") Book online
                .offer__svg_container.col.col-lg-3.col-md-3.col-sm-6
                    svg.offer__content--svg_icon
                        use(href="#like")
                    a.offer--link.text_no_decor.text_lg(href="#") Real guest reviews
