mixin singIn_mobile()
    section.sing_in_mobile
        .container
            .row.sing_in_mobile__content
                svg.col.sing_in_mobile--cross_svg.buttons
                    use(href='#cross')
                .col.sing_in_mobile--logo
                    svg.sing_in_mobile--logo_svg
                        use(href='#logo_triphouse')
                p.col.sing_in_mobile--text.text_md Sign up in the app and get 20% </br> off your first booking
                a.col.sing_in_mobile--link.text_lg.text_no_decor(href='#') Install