mixin mobile_slider()
    ._mobile_slider.row
        svg._mobile_slider--button.buttons
            use(href='#circle')
        svg._mobile_slider--button.buttons
            use(href='#circle')
        svg._mobile_slider--button.buttons
            use(href='#circle')
        svg._mobile_slider--button.buttons
            use(href='#circle')
