@import url("fonts.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.container {
    max-width: 1232px;
    padding: 51px 16px 0;
    margin: 0 auto;
}

.top-section {
    min-height: 100vh;
    background-image: url("../images/background_image.jpg");
    background-size: cover;
}

.header {
    display: flex;
}

.header__logo {
    margin-right: 684px;
    width: 205px;
    height: 40px;
}

.header__nav {
    width: 303px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav__link {
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: #FFFFFF;
}

.header__nav__link:hover {
    border-bottom: 4px solid #F5BD41;
}

.header__nav__icon {
    transition: 0.2s;
}

.header__nav__icon:hover {
    transform: scale(1.3);
}

.top-section__content {
    max-width: 1232px;
    margin-top: 200px;
}

.top-section__title {
    width: 542px;
    height: 118px;
    font-weight: 500;
    font-size: 50px;
    line-height: 59px;
    color: #FFFFFF;
}

.top-section__form {
    width: auto;
    height: 64px;
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-sizing: border-box;
}

.destination {
    width: 400px;
    margin-left: 10px;
    font-size: 18px;
    border-style: none;
}

.top-section__date {
    width: 259px;
    border: 3px solid #F5BD41;
    border-radius: 8px;
    font-size: 18px;
}

.top-section__plaсes {
    width: 300px;
    border-style: none;
}

.top-section__button {
    width: 192px;
    border-radius: 8px;
    border: none;
    background-color: #3077C6;
    color: #FFFFFF;
    font-size: 24px;
}

.top-section__store {
    margin-top: 120px;
    padding-bottom: 120px;
    display: flex;
    justify-content: center;
}

.top-section__shop {
    padding: 0 8px 0;
}

/*section №2 "advantages"*/
.offer_title {
    margin: 120px auto 0;
    width: 306px;
    height: 47px;
}

.offer_title_text {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #383838;
}

.offer_underline {
    margin: 20px auto 0;
    width: 100px;
    height: 4px;
    background-color: #F5BD41;
    border: none;
}

.feedback__container {
    margin: 80px auto;
    display: flex;
    justify-content: space-around;
}

.icon_feedback {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.icon__svg_container {
    width: 300px;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column wrap;
}

.icon__svg {
    width: 100px;
    height: 100px;
    fill: #3077C6;
}

.icon_name {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color:  #383838;
    text-decoration: none;
}

/*Footer*/

.footer{
    min-height: 600px;
    background-color: #10367C;
}

.footer__body {
    display: flex;
    justify-content: space-between;
    height: 310px;
}

.footer_link {
    text-decoration: none;
    padding-left: 0;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.list__heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    list-style-type: none;
}

.footer_link_list {
    list-style-type: none;
}

.copyright_holder {
    margin: 65px auto 120px;
}

.copyright_holder__text {
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}