@import url("fonts.css");

:root{
    --primary: #3077C6;
    --primary-dark: #10367C;
    --secondary: #F5BD41;
    --general-white: #FFFFFF;
    --primary-text: #383838;
    --secondary-text: #BFBFBF;
    --grey100: #121212;
    --grey200: #1D1E1F;
    --grey300: #4D4D4D;
    --stroke: #F3F3F4;
    --background: #EAF0F9;


}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.sprite{
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0;
}

.container {
    max-width: 1355px;
    max-height: 894px;
    padding: 46px 16px 0;
    margin: 0 auto;
}

.top-section {
    max-width: 100%;
    max-height: 100%;
    background-image: url("../images/background_image.png");
    background-position: top;
    background-color: var(--primary-dark);
}

.header {
    display: flex;
}

.header__logo {
    margin-right: 684px;
    width: 205px;
    height: 40px;
}

.logo {
    fill: var(--primary);
    width: 205px;
    height: 40px;
}

.header__nav {
    width: 390px;
    display: flex;
    align-items: center;
}

.header__nav__link {
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: var(--general-white);
    margin-right: 25px;
}

.header__nav__link:hover {
    border-bottom: 4px solid var(--secondary);
}

.header__nav_svg {
    width: 100%;
    height: 100%;
}

.header__nav__theme {
    width: 30px;
    height: 30px;
    fill: var(--general-white);
    margin: auto 23px auto;
}

.header__nav__profile {
    width: 40px;
    height: 40px;
    fill: var(--general-white);
}

.top-section__content {
    max-width: 100%;
    margin-top: 202px;
}

.top-section__title {
    width: 542px;
    height: 118px;
    font-weight: 500;
    font-size: 50px;
    line-height: 59px;
    color: var(--general-white);
}

.ts__form__title {
    display: flex;
}

.ts__form__text {
    font-size: 18px;
    line-height: 21px;
    color: var(--general-white);;
    margin: 100px 195px 0 25px;
}

.top-section__form {
    max-width: 1232px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    background-color: var(--general-white);
    border-radius: 8px;
    box-sizing: border-box;
}

.destination {
    width: 400px;
    margin-left: 18px;
    font-size: 18px;
    border-style: none;
}

.top-section__date {
    width: 259px;
    border: 3px solid var(--secondary);
    border-radius: 8px;
    font-size: 18px;
    margin-left: 35px;
}

.top-section__plaсes {
    width: 300px;
    border-style: none;
}

.top-section__button {
    width: 192px;
    border-radius: 8px;
    border: none;
    background-color: var(--primary);
    color: var(--general-white);
    font-size: 24px;
}

.top-section__store {
    max-width: 1232px;
    margin-top: 120px;
    padding-bottom: 120px;
    display: flex;
    justify-content: center;
}

.top-section__shop {
    padding: 0 8px 0;
}

/*section №2 "advantages"*/
.offer {
    max-height: 100%;
    max-width: 100%;

}

.offer_title {
    margin: 76px 0 20px 464px;
    width: 306px;
    height: 47px;
}

.offer_title_text {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: var(--primary-text);
}

.offer_underline {
    margin-left: 565px;
    width: 100px;
    height: 4px;
    background-color: var(--secondary);
    border: none;
}

.feedback__container {
    margin: 80px auto 120px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.icon_feedback {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-right: 65px;
}

.icon__svg_container {
    width: 254px;
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column wrap;
    margin: 0 45px 0 15px;
}

.icon__svg {
    width: 100px;
    height: 100px;
    fill: var(--primary);
}

.icon_name {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color:  var(--primary-text);
    text-decoration: none;
    transition: 0.2s;
}

.icon_name:hover {
    transform: scale(1.1);
}

/*Footer*/

.footer{
    max-height: 100%;
    background-color: var(--primary-dark);
}

.footer__body {
    display: flex;
    justify-content: right;
    height: 385px;
}

.footer__logo {
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0;
}

.footer__list__container {
    width: 31%;
    display: flex;
    justify-content: right;
    margin: 73px 5px 0 2px;
}

.footer_link {
    text-decoration: none;
    padding-left: 0;
    font-size: 20px;
    line-height: 24px;
    color: var(--general-white);
}

.list__heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    list-style-type: none;
    margin-bottom: 26px;
}

.footer_link_list {
    list-style-type: none;
    padding-bottom: 7px;
    margin-top: 18px;
}

.copyright_holder {
    margin: 65px auto 120px;
    padding-bottom: 120px;
}

.copyright_holder__text {
    font-size: 14px;
    line-height: 16px;
    color: var(--general-white);
}

/*adapt for gadgets_______________480px________________________*/
@media only screen and (max-width: 480px) {
    .container {
        width: 360px;
        height: 641px;
        margin: 0 auto;
        padding: 0;
    }

    .top-section {
        margin: 0 auto;
        padding-top: 40px;
    }

    .header__logo {
        margin-right: 110px;
        width: 121px;
        height: 24px;
    }

    .logo {
        width: 121px;
        height: 24px;
        fill: var(--primary);
    }

    .header__nav {
        width: 60px;
        height: 40px;
        display: flex;
        align-items: center;
        flex-flow: row-reverse wrap;
    }

    .header__nav__link {
        font-size: 16px;
        line-height: 16px;
        text-decoration: none;
        color: var(--general-white);
        margin: 0;
    }

    .header__nav_svg {
        width: 100%;
        height: 100%;
    }

    .header__nav__theme {
        width: 16px;
        height: 16px;
        fill: var(--general-white);
        margin: 0;
    }

    .header__nav__profile {
        width: 24px;
        height: 24px;
        fill: var(--general-white);
    }

    .top-section__content {
        max-width: 100%;
        margin-top: 40px;
    }

    .top-section__title {
        width: 328px;
        height: 70px;
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        color: var(--general-white);
    }

    .ts__form__title {
        position: absolute;
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .top-section__form {
        max-width: 328px;
        height: 232px;
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
        margin-top: 25px;
        background-color: var(--general-white);
        border: 3px solid var(--secondary);
        border-radius: 8px;
        box-sizing: border-box;
    }

    .placeholder_label {
        position: absolute;
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .destination {
        width: 312px;
        height: 48px;
        font-size: 15px;
        border-style: none;
        margin: 0;
    }

    .top-section__date {
        width: 312px;
        height: 48px;
        border-radius: 8px;
        font-size: 15px;
        margin: 0;
    }

    .top-section__plaсes {
        width: 312px;
        height: 48px;
        border-style: none;
    }

    .top-section__button {
        width: 312px;
        height: 48px;
        border-radius: 8px;
        border: none;
        background-color: var(--primary);
        color: var(--general-white);
        font-size: 19px;
    }

    .top-section__store {
        max-width: 1232px;
        margin-top: 40px;
        padding-bottom: 40px;
        display: flex;
        justify-content: space-evenly;
    }

    .top-section__shop {
        width: 135px;
        height: 40px;
        padding: 0 8px 0;
    }

    /*offer*/
    .offer {
        margin: 40px auto;
        width: 100%;
        height: 100%;
    }
    .offer_title {
        margin: 40px auto 0;
        padding-top: 25px;
        width: 214px;
        height: 33px;
    }

    .offer_title_text {
        font-weight: 500;
        font-size: 28px;
        line-height: 33px;
        color: var(--primary-text);
    }

    .offer_underline {
        position: absolute;
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .feedback__container {
        width: 214px;
        height: 540px;
        margin: 60px auto 0;
    }

    .icon_feedback {
        margin: 0;
    }

    .icon__svg_container {
        width: 214px;
        height: 104px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: column wrap;
        margin: 0;
    }

    .icon__svg {
        width: 70px;
        height: 70px;
    }

    .icon_name {
        font-size: 15px;
    }
    /*footer*/
    .footer {
        width: 360px;
        height: 203px;
        margin: 40px auto;
    }

    .footer__body {
        width: 360px;
        height: 203px;
    }

    .footer_logo_container {
        width: 100px;
        height: 20px;
        margin: 0 auto 0;
        padding-top: 40px;
        box-sizing: content-box;
    }

    .footer__logo {
        width: 98px;
        height: 20px;
        fill: var(--general-white);
        visibility: visible;
    }

    .footer__body {
        width: 225px;
        height: 20px;
        margin: 35px auto 0;
        display: flex;
        justify-content: space-between;
    }

    .footer__list__container {
        margin: 0;
        padding: 0;
        width: max-content;

    }

    .list__heading .footer_link{
        font-size: 15px;
        line-height: 18px;
        margin: 0;
        color: var(--general-white);
    }

    .footer_link_list {
        position: absolute;
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .copyright_holder {
        margin: 35px auto 0;
        display: flex;
        justify-content: center;
    }

    .copyright_holder__text {
        font-size: 12px;
        line-height: 14px;
        color: var(--general-white);
    }
}

